<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    	<h1>About Us</h1>
    </div>
  </div>
  <div class="panel-body">
		<p>We are working on our One Month Rails Pinteresting App!</p>
  </div>
  <div class="panel-footer"></div>
</div>