<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    	<h1>Contact Us</h1>
    </div>
  </div>
    <div class="panel-body">
		<p>Give me a call ;) </br>305-555-5555</p>
	</div>
	<div class="panel-footer"></div>
</div>